#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contenedor{
  background-color: rgb(250, 250, 250);
  padding:24px  23px 10px 23px ;
  border-radius: 22px;
}

